<footer class="custom-footer text-light pt-5 pb-3">
  <div class="container">
    <div class="row">

      <!-- Left -->
      <div class="col-md-4 mb-4">
        <img src="/images/logo.png" style="max-width:150px;">
        <p class="fw-bold mt-3">WE INSTITUTE</p>
        <p>Mulund West, Mumbai, Maharashtra</p>

        <p>Email: hr_admin@weinstitute.in</p>
        <p>Phone: +91 9819740122</p>
      </div>

      <!-- Middle -->
      <div class="col-md-4 mb-4">
        <h5>Menu</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/about" class="text-light">About</a></li>
          <li><a routerLink="/courses" class="text-light">Courses</a></li>
          <li><a routerLink="/gallery" class="text-light">Gallery</a></li>
          <li><a routerLink="/contact" class="text-light">Contact</a></li>
        </ul>
      </div>

      <!-- Right -->
      <div class="col-md-4 mb-4">
        <h5>Courses</h5>
        <ul class="list-unstyled">
          <li>AI & ML</li>
          <li>Data Science</li>
          <li>Python</li>
          <li>Full Stack</li>
        </ul>
      </div>

    </div>

    <div class="text-center pt-3 border-top">
      <p class="mb-0">© 2025 WE Institute</p>
    </div>
  </div>
</footer>